@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap');
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

@media screen and (max-width: 714px) {
    .detail-canvas {
        @include flex-config($justify: none, $align: flex-start, $direction: column);
        background-color:$base-white;
        min-height: 100vh;

        .main-container {
            .ingredients-list__item{
                @include flex-config(null, center);
                .item-name{}
                .item-bullet {
                    color: $secondary-red;
                    margin-right: 0.8em;
                    width: 0.6em;
                }

            }
        }
    }
}

