@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap');
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

@media screen and (max-width: 714px) {
    .detail-canvas {
        @include flex-config(null, flex-start, column);
        background-color:$base-white;
        min-height: 100vh;

        .main-container {

            .ingredients-list {
                .ingredients-list__item{
                    .item-name{ 
                    }
                    .item-name::before{
                        content: "\2022";
                        display: inline-block;
                        color: $secondary-red;
                        font-size: 19px;
                        font-weight: bold;
                        width: 1em; 
                    }
                    
    
                }
                
            }
           
            
        }
    }
}

