@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap');
@import './styles/colors.scss';


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    color: $base-black;
    ul {
        list-style: none;
        
    }
    body {
        overflow: auto;
        height: 100%;
        overscroll-behavior-y: none;

    }
    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    button {
        border: none;
        background-color: transparent;
    }
}