@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Shrikhand&display=swap');
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

@media screen and (max-width: 714px) {
    .shoppingList-item {
        @include flex-config($justify: null, $align: center);
        .item-image {
            max-width: 70px;
            max-height: 50px;
        }
        .item-name {
            font-size: 1.2em;
            font-weight: 600;
        }
    }
}
