@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Shrikhand&display=swap');
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

@media screen and (max-width: 714px) {
    .shoppingList-item {
        @include flex-config($justify: null, $align: center);
        .item-image {
            width: 70px;
            height: 50px;
            object-fit: contain;

        }
        .item-info {
            @include flex-config($justify: null, $align: baseLine);

            &__name {
                font-size: 1.2em;
                font-weight: 600;
                margin-left: 1.5em;
                margin-right: 0.5em;
            }
            &__amount {
                color: $dark-grey;
            }
            
        }
    }
}
