@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap');
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

@media screen and (max-width: 2000px) {
    .navigator {
        @include flex-config(null, center);        
        background-color: $base-red;
        box-shadow: 2px 30px 10px 29px rgba(66, 66, 66, 0.81);
        height: 80px;
        padding: 1.5em 1.5em;
        position: sticky;
        bottom: 0;
        overflow: hidden;
        width: 100vw; 
        z-index: 2;
        
        .container {
            @include flex-config(space-between, null);
            margin: 0 auto;
            padding: 1.5em 1.5em;
            width: 80%;

            .icon-block {
                @include flex-config(center, center, column);
                &__icon {
                    color: $base-white;
                    font-size: 25px;
                    margin-bottom: 2px;
                }
                &__description {
                    color: $base-white;
                    font-size: 0.8em;
                }
            }
        }
    }
}