@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Shrikhand&display=swap');
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

@media screen and (max-width: 714px) {
    .main-container {
        .plus-icon {
            color: $secondary-red;
            cursor: pointer;
            height: auto;
            margin: 0 0.1em 0 auto;
            width: 45px;
            min-width: 45px;
            &:hover {
                color: $base-red;
            }
        }
        .list-picker-title{
            font-size: 20px;
            margin-left: 25px;
        }
        .pickedList {
            color: $secondary-red;
            display: inline;
            font-size: 22px;
            padding:0 0.2em;
            &__icon {
                font-size: .9em;
                margin: 0 0.2em;
                cursor: pointer;
                vertical-align: sub;
            }
        }
        .shoppingLists-list {
            margin-top: 1.5em;
            .shoppingList-item {
                border: 1px solid $base-white;
                border-radius: 10px;
                background-color: white;
                cursor:pointer;
                font-size: 1.2em;
                margin-bottom: 0.5em;
                padding: 1em 1em;
                &:hover {
                    border: 1px solid rgba($secondary-red, 0.2);
                }
            }
        }
    }
}
