@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap');
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

@media screen and (max-width: 714px) {
    .header {
        @include flex-config( space-between, null, column);

        background-color: $base-red;
        box-shadow: 0px 5px 12px -6px rgba(66,66,66,0.81);
        height: 145px;
        padding: 1.5em 1.5em;
        width: 100vw;

        &__top {
            @include flex-config($justify: space-between, $align: flex-start, $direction: row);
            .logo {
                width: 110px;
                height: auto;
            }
            .logout-btn {
                cursor: pointer;
                .user-info {
                    @include flex-config($justify: space-between, $align: center);
    
                    &__name {
                        color: $base-white;
                    font-family: 'Nunito', sans-serif;
                    font-size: 0.8rem;
                    margin-left: auto;
                    margin-right: 5px;
                    }
                    &__icon {
                        width: 28px;
                        height: auto;
                        color: $base-white;
                    }
                }
            }
            
        }
        &__bottom {
            text-align: center;
            ::placeholder { 
                color: $lighter-grey;
                opacity: 1;
            }
            .header-form {
                display: inline-block;
                margin: 0 auto; 
                position: relative;
                width: 80%;

                .form-input {
                    background-color: transparent;
                    border: 1px solid rgb(255, 255, 255, 0.2);
                    border-radius: 10px;
                    color: $base-white;
                    font-size: 14px;
                    margin-top: 1em;
                    padding: 1em 1em;
                    padding-right: 3em;
                    width: 100%;

                    &:focus {
                        outline: none;
                        border-color: $secondary-red;
                    }
                }
                .form-btn {
                    padding-right: 0.5em;
                    position: absolute;
                    right: 0.5em;
                    top: 1.7em;
                    &__icon {
                        cursor: pointer;
                        width: 2em;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        } 
    }
}