@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Shrikhand&display=swap');
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

@media screen and (max-width: 2000px) {
    .canvas {
        background: radial-gradient($base-red, #9b1f23);
        background-repeat: no-repeat;
        height: 100vh;
        
        .landing-container {
            @include flex-config($justify: space-between, $align: center, $direction: column);
            height: 100vh;
            padding: 3em 0em;

            .buttons {
                @include flex-config($justify: null, $align: center, $direction: column);
                
                .signUp {
                    height: auto;
                    background-color: $secondary-red;
                    border-radius: 50px;
                    color: $base-white;
                    cursor: pointer;
                    font-size: 0.95rem;
                    font-weight: 500;
                    padding: 1em 2em;
                    width: 12.75rem;
                }
                .logIn {
                    background-color: transparent;
                    border-radius: 50px;
                    border: 1px solid $base-white;
                    color: $base-white;
                    cursor: pointer;
                    margin-top: 2em;
                    font-size: 0.95rem;
                    font-weight: 500;
                    padding: 1em 2em;
                    width: 12.75rem;
                } 
            }
        }
    }
    .letsCook-btn {
        @include flex-config($justify: center, $align: center);
        margin: auto;
        .arrow-icon {
            font-size: 1.7em;
            margin-left: 0.6em;
        }
    }
}



